.products {
    padding: .5rem 3rem;
}

.products-card-deck {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
}

.products-card {
    flex: 23%;
    margin-bottom: 1rem;
}

.products-card .products-top {
    background: var(--bg);
    padding: 1rem;
    border-radius: 5px;
}

.products-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}

.products-bottom .bottom-left {
    flex: 75%;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.products-bottom .bottom-right {
    flex: 25%;
    justify-content: flex-end;
    display: flex;
}

.products-bottom .bottom-left .product-card-title {
    font-size: 18px;
    font-weight: 500;
}

.products-bottom .bottom-left .product-card-desc {
    font-size: 14px;
    color: var(--grey);
}

.products-bottom .bottom-left button {
    max-width: 120px;
}