.product_details {
    padding: 0 3rem;
}

.prd_details_wrapper {
    border-top: 1px solid #BCBCBC;
    padding-top: 1.5rem;
    display: flex;
    gap: 2rem;
}

.prd_details_left {
    flex: 50%;
    max-width: 50%;
}

.prd_details_right {
    flex: 50%;
    max-width: 50%;
}

.prd_details_right .prd_right_details {
    border-bottom: 1px solid var(--grey);
    padding-bottom: 1.5rem;
}

.prd_details_right .prd_right_details .prd-title {
    font-weight: 500;
}

.prd_details_right .prd_right_pricing {
    margin-top: 1.5rem;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 1.5rem;
}

.prd_details_right .prd_right_pricing .prd-price {
    font-size: 24px;
    font-weight: 700;
}

.prd_details_right .prd_right_cart {
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.prd_details_right .prd_right_cart .prd_qty {
    display: flex;
    padding-bottom: 1.5rem;
    align-items: center;
    gap: 1.5rem;
}

.prd_details_right .prd-desc {
    margin-top: .5rem;
    font-size: 16px;
    color: var(--grey);
}

.prd_details_right .prd_right_cart_buttons {
    padding-bottom: 1.5rem;
}

.prd_details_right .prd_right_cart_addInfo {
    border-radius: 5px;
    border: 1px solid var(--grey);
}

.prd_details_right .prd_right_cart_addInfo .prd_details_card {
    padding: 1rem;
    border-top: 1px solid var(--grey);
}

.prd_details_right .prd_right_cart_addInfo .prd_details_card:nth-child(1) {
    border-top: none !important;
}

.prd_details_right .prd_right_cart_addInfo .prd_details_card .prd_card_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: .5rem;
}

.prd_details_right .prd_right_cart_addInfo .prd_details_card .prd_card_desc {
    font-size: 16px;
    font-weight: 500;
}

.prd_qty_counter {
    background: var(--bg);
    border-radius: 50px;
}

.prd_qty_minus {
    padding: 1rem 1.5rem;
    background: none;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
    color: var(--green);
    font-weight: 600;
}
.prd_qty_count {
    padding: .25rem 1rem;
    background: var(--bg);
    color: var(--green);
}
.prd_qty_plus {
    padding: 1rem 1.5rem;
    background: none;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    color: var(--green);
    font-weight: 600;
}