@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --white: #FFFFFF;
  --bg: #F6F6F6;
  --black: #070707;
  --green: #013D29;
  --pink: #FCF0E4;
  --grey: #BCBCBC;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'poppins';
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utilities */

.img-fluid {
  width: 100%;
  height: auto;
}

.me-auto {
  margin-right: auto !important;
}

.ms-auto {
  margin-left: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.ml-1 {
  margin-left: .5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.mr-1 {
  margin-right: .5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.mt-1 {
  margin-top: .5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.title {
  color: var(--black);
  font-weight: 500;
}

/* Button */

.btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: .5rem 2rem;
  text-align: center;
}

.btn-primary {
  color: var(--white);
  background: var(--green);
  border-radius: 50px;
  font-size: 16px;
  border: 2px solid var(--green);
}

.btn-primary:hover {
  background: none;
  color: var(--green);
}

.btn-outline-primary {
  color: var(--green);
  background: none;
  border-radius: 50px;
  font-size: 16px;
  border: 2px solid var(--green);
}

.btn-outline-primary:hover {
  background: var(--green);
  color: var(--white);
}

.btn-sm {
  font-size: 14px;
  padding: .3rem 1rem;
}